/* Smooth Scroll */
html {
  scroll-behavior: smooth;
}

body {
  color: #111111;
  font-family: "Poppins", sans-serif;
}

/* -----------------------------------------------
					CAROUSEL
-------------------------------------------------- */

.carousel {
  margin-top: 1rem;
}

.carousel-item {
  height: 100vh;
}

.carousel-item > img {
  min-width: fit-content;
  height: 90vh;
}

.carousel-indicators li.active {
  width: 1rem;
  height: 1rem;
  background-color: #111111;
  border-radius: 50%;
}

.carousel-indicators li {
  width: 1rem;
  height: 1rem;
  background-color: #777777;
  border-radius: 50%;
}

/* -----------------------------------------------
					PRODUCT
-------------------------------------------------- */

.qty .count {
  color: #000;
  display: inline-block;
  vertical-align: top;
  padding: 0 1%;
  min-width: 35px;
  text-align: center;
}
.qty .plus {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  color: #111111;
  width: 25px;
  height: 25px;
  font: 25px/1 Arial, sans-serif;
  text-align: center;
  border-radius: 50%;
}
.qty .minus {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  color: #111111;
  width: 25px;
  height: 25px;
  font: 25px/1 Arial, sans-serif;
  text-align: center;
  border-radius: 50%;
}
/*Prevent text selection*/
span {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
input {
  border: 0;
  width: 2%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input:disabled {
  background-color: #ffffff;
}
